@media only screen and (min-width: 1800px) {
    .content-container {
        width: 60%;
    } 
    .header-container {
        width: 60%;
    }
    .main-text {
        width: initial;
    }
    .card {
        width: 60%;
    }
    .comment {
        width: 60%;
    }
    .container {
        width: 60%;
    }
    .text-in-touch {
        width: 60%;
        margin: auto;
    }
    .footer-get-in-touch {
        width: 60%;
        margin: auto;
    }
}